// -----------------------------------------------------------------------------
// This file contains styles that are specific to the admin user detail page.
// -----------------------------------------------------------------------------
@import "../../themes/default";

#admin_userdetail_overview_content {
  padding-top: 16px;

  .admin_userdetail_overview_intro {
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    text-align: left;

    .col-xs-2 {
      text-align: right;

      i {
        outline: none;
        font-size: 32px;
        line-height: 32px;
        width: 32px;
        vertical-align: sub;
      }
    }
  }

  .modal-body {
    background-color: $white;
    width: 100vw;
    z-index: 9999;
    height: 100%;
    position: fixed !important;

    .modal-table {
      display: table;
      width: 100%;
      height: 100%;

      .modal-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .users_detail_overview {
    .base_info {
      margin-top: 24px;

      .flight_item {
        margin-bottom: 0;
        padding-bottom: 16px;
      }
    }
    .sub_title {
      font-size: 2.4rem;
      margin: 24px 0 12px 0;
      color: $white;
    }
  }

  .flights_overview {
    padding-right: 28px;
    outline: none;

    a {
      outline: none;
    }

    .flight_item {
      background-color: $black_opacity_24;
      color: $white !important;
      margin-bottom: 16px;
      padding-top: 16px;
      padding-bottom: 8px;
      font-size: 1.6rem;
      font-weight: 300;

      .fip_airport {
        i {
          margin-left: 4px;
          transform: rotate(90deg);
        }
      }

      a {
        color: $white !important;
        font-weight: 300;
      }

      span {
        margin-bottom: 8px;
        display: block;

        p {
          font-weight: 300;
          font-size: 1.4rem;
        }
      }

      .fi_place {

        i {
          vertical-align: bottom;
          margin-right: 4px;
        }

        span {

          p {
            margin-bottom: 0;
            display: inline-block;
            position: absolute;
            margin-left: 8px;
          }
        }
      }

      .fi_status {
        i {
          vertical-align: bottom;
        }
      }
    }

  }

  .user_scheduled {
    .user_delay {
      color: $warning_red;
      font-weight: 500 !important;
    }
  }

  .user_landed {

    .fi_gate {

      .fi_first {
        height: 22px !important;
      }

      .fi_remove {
        a {
          color: $white;
        }

        a:hover {

        }
      }
    }
  }

  .user_removed {
    text-align: center;
    padding: 32px 32px 0 32px;

    span {
      font-weight: 300;
      color: $white;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  #admin_userdetail_overview_content {
    padding-top: 16px;

    .admin_userdetail_overview_intro {
      .admin_search_users {
        padding-right: 10px;
      }
    }

    .admin_users_overview {
      padding-right: 25px;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  #admin_userdetail_overview_content {

    .userdetail_item {
      padding-bottom: 16px;

      .fi_first {
        min-width: 80px;
      }

      .fi_status {
        margin-top: 0;
        text-align: right;
        i {
          margin-left: 4px;
        }
      }

      .fi_status span,
      .fi_user span,
      .fi_time span {
        display: inline-block;
        margin-bottom: 0;

        p {
          margin-left: 8px;
          margin-bottom: 4px;
        }
      }

      .fi_user,
      .fi_time {
        margin: 4px 0;
      }

      .fi_status {
        .fi_first {
          width: auto !important;
          min-width: auto !important;
        }
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  #admin_userdetail_overview_content {

    .userdetail_item {
      padding-bottom: 16px;

      .fi_first {
        min-width: 80px;
      }

      .fi_status span,
      .fi_user span,
      .fi_time span {
        display: inline-block;
        margin-bottom: 0;

        p {
          margin-left: 8px;
          margin-bottom: 4px;
        }
      }

      .fi_status,
      .fi_user,
      .fi_time {
        margin: 4px 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #admin_userdetail_overview_content {
    padding-top: 32px;

    .userdetail_item {
      padding-bottom: 16px;

      .fi_first {
        min-width: 80px;
      }

      .fi_status span,
      .fi_user span,
      .fi_time span {
        display: inline-block;
        margin-bottom: 0;

        p {
          margin-left: 8px;
          margin-bottom: 4px;
        }
      }

      .fi_status,
      .fi_user,
      .fi_time {
        margin: 4px 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #admin_userdetail_overview_content {
    padding-top: 16px;

    .userdetail_item {
      .fi_place,
      .fi_status,
      .fi_user,
      .fi_time {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}