<div style="height: 100vh" layout="column" ng-cloak>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{vm.$$ui.title}}</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-list>

        </md-list>
    </md-content>
</div>