<div id="home_content" ng-cloak>
    <md-toolbar>
        <!--<h1 class="welkom_user">-->
            <!--<span>Welkom {{ account.user.name }}</span>-->
        <!--</h1>-->
        <div class="home_intro">
            FlightKit is a tool to help you manage your trips and stay up to date on your flight status.
        </div>
    </md-toolbar>

    <md-content>
        <div class="home_options col-xs-12">
            <a href="flights/create">
                <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-6 col-xs-6 col-xxs-600">
                    <div class="home_option home_option_left col-xs-12">
                        <div class="home_option_image">
                            <img src="img/home/flight.png" alt="flight">
                        </div>

                        <div class="home_option_bottom">
                            <div class="home_option_bottom_left">
                                <div class="home_option_bottom_left_div">
                                    <img src="img/assets/plus.svg" alt="plus">
                                </div>
                            </div>

                            <div class="home_option_bottom_right">
                                <span>Flights</span>
                                <p>Track your flights and stay up to date.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="trips/create">
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-xxs-600">
                    <div class="home_option home_option_right col-xs-12">
                        <div class="home_option_image">
                            <img src="img/home/trip.png" alt="flight">
                        </div>

                        <div class="home_option_bottom">
                            <div class="home_option_bottom_left">
                                <div class="home_option_bottom_left_div">
                                    <img src="img/assets/plus.svg" alt="plus">
                                </div>
                            </div>

                            <div class="home_option_bottom_right">
                                <span>Trips</span>
                                <p>Everything about your destination airport.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </md-content>
</div>