// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
//main colors
$white: #ffffff;
//theme colors
$main_green: #30B996;
$main_blue: #0073AE;
//accent colors
$accent_green: #33CC99;
$facebook: #336699;
$facebook_hover: #3a74ae;
$accent_red: rgba(218, 33, 33, 0.73);
$button_red: #EF402C;
$warning_red: #FF4F14;
//view colors
$black_opacity: rgba(0, 0, 0, 0.64);
$black_opacity_24: rgba(0, 0, 0, 0.24);
$white_opacity: rgba(255, 255, 255, 0.9);
//select colors
$select-color: rgba(0, 0, 0, 0.26);
//input colors
$input_border: rgba(0, 0, 0, 0.12);
//input fonts
$select-font-size: 16px;

//fonts
 $font_main: 'Lato', Helvetica, Arial, sans-serif;
 $font_second:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 
 