// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
//main colors
$white: #ffffff;
//theme colors
$main_green: #30B996;
$main_blue: #0073AE;
//accent colors
$accent_green: #33CC99;
$facebook: #336699;
$facebook_hover: #3a74ae;
//view colors
$black_opacity: rgba(0, 0, 0, 0.64);

//fonts
 $font_main: 'Lato', Helvetica, Arial, sans-serif;
 $font_second:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 
 