<div id="flight_create_content" ng-cloak>
    <md-toolbar>
        <!--<h1 class="welkom_user">-->
        <!--<span>Welkom {{ account.user.name }}</span>-->
        <!--</h1>-->
        <div class="flight_create_intro">
            {{vm.$$ui.title}}
        </div>

        <div class="flight_create_subtitle">
            {{vm.$$ui.subtitle}}
        </div>
    </md-toolbar>

    <md-content>

        <form name="form" novalidate>
            <div class="flight_create_options">

                <div class="col-lg-offset-0 col-lg-5 col-md-offset-0 col-md-5 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 col-xxs-offset-1 col-xxs-10 col-500">
                    <div class="flight_create_option flight_airline full col-xs-12">
                        <h5>Airline</h5>

                        <!--<span ng-show="form.fAirline.$valid" class="valid-status valid">[VALID]</span><span class="valid-status invalid" ng-show="form.fAirline.$invalid">[INVALID]</span>-->

                        <div angucomplete-alt name="fAirline"
                                          placeholder="Search airlines"
                                          pause="100"
                                          selected-object="vm.$$ix.airline"
                                          local-data="vm.airlines"
                                          search-fields="name,iata"
                                          title-field="name"
                                          minlength="1"
                                          match-class="highlight"
                                          field-required="true"
                                          input-name="fAirline"
                                          field-required="true"
                                          autocomplete-required /></div>

                        <div ng-show="form.$submitted" class="ngShow">
                            <div ng-show="form.fAirline.$invalid">Select/click airline</div>
                        </div>
                    </div>
                </div>


                <!--<div class="col-lg-offset-0 col-lg-5 col-md-offset-0 col-md-5 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 col-xxs-offset-1 col-xxs-10">-->
                    <!--<div class="flight_create_option flight_airline full col-xs-12">-->
                        <!--<h5>Airline</h5>-->

                        <!--&lt;!&ndash; Standard Select &ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="mdl-selectfield">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label>Standard Select</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<select class="browser-default" ng-model="vm.flight.airline" name="fAirline" required="">&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="" disabled>Choose your airline</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="1" selected>Option 1</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="2">Option 2</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="3">Option 3</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" ng-model="vm.flight.airline" name="fAirline" placeholder="Choose your airline" required="">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div ng-show="form.$submitted" class="ngShow">&ndash;&gt;-->
                            <!--&lt;!&ndash;<div ng-show="form.fAirline.$error.required">Airline required</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->

                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 col-xxs-12">
                    <div class="flight_create_option between col-xs-12">
                        <p>
                            <i class="material-icons">all_inclusive</i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-offset-0 col-lg-3 col-md-offset-0 col-md-3 col-sm-offset-2 col-sm-4 col-xs-offset-1 col-xs-5 col-xxs-offset-1 col-xxs-5 col-500">
                    <div class="flight_create_option flight_number full col-xs-12">
                        <h5>Flight number</h5>
                        <input type="number" ng-model="vm.flight.number" name="fNumber" placeholder="Enter your number" required="">
                        <div ng-show="form.$submitted" class="ngShow">
                            <div ng-show="form.fNumber.$error.required">Number required</div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-offset-0 col-lg-3 col-md-3 col-sm-4 col-xs-5 col-xxs-5 col-500">
                    <div class="flight_create_option flight_date full col-xs-12">
                        <h5>Date</h5>
                        <input type="date" ng-model="vm.flight.today" name="fDate" class="datepicker" required=""
                               min="{{vm.flight.today | date:'yyyy-MM-dd'}}">
                        <div ng-show="form.$submitted" class="ngShow">
                            <div ng-show="form.fDate.$error.required">Date required</div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-2 col-md-2 col-sm-offset-0 col-sm-4 col-xs-offset-0 col-xs-5 col-xxs-offset-0 col-xxs-5 col-500">-->
                    <!--<div class="flight_create_option flight_date full col-xs-12">-->
                        <!--<h5>Hour (0-23)</h5>-->
                        <!--<input type="number" ng-model="vm.flight.hour" name="fHour" placeholder="0" class="" required="">-->
                        <!--<div ng-show="form.$submitted" class="ngShow"-->
                             <!--min="0" max="23">-->
                            <!--<div ng-show="form.fHour.$error.required">Only 0-23</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="buttons_create col-xs-12">
                    <div class="button_left col-xs-6">
                        <input type="button" ng-click="vm.go('/')" class="own_btn back_button" target="_self" value="BACK">
                        <!--<a href="/" class="own_btn back_button" target="_self">BACK</a>-->
                    </div>

                    <div class="button_right col-xs-6">
                        <!--<input type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self" value="NEXT">-->
                        <input type="submit" ng-click="vm.$$ix.confirm()" class="own_btn next_button" value="NEXT">
                        <!--<a href="" type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self">NEXT</a>-->
                    </div>
                </div>
            </div>
        </form>

        <script type="text/ng-template" id="confirmModal.html">
            <div class="modal-body">
                <div class="modal-title">
                    <span>Check if this is the flight you want to add?</span>
                </div>

                <div class="modal-check">
                    <span class="loc">{{ vm.departureAirport.name }}, ({{ vm.departureAirport.iata }})</span>
                    <span class="date">{{ vm.checkCurrentFlight[0].flightStatuses[0].operationalTimes.publishedDeparture.dateLocal | date : 'hh:mm a' }},
                                        {{ vm.checkCurrentFlight[0].flightStatuses[0].operationalTimes.publishedDeparture.dateLocal | date : 'MMM d' }}</span>

                    <p><i class="material-icons">flight</i></p>

                    <span class="loc">{{ vm.arrivalAirport.name }}, ({{ vm.arrivalAirport.iata }})</span>
                    <span class="date">{{ vm.checkCurrentFlight[0].flightStatuses[0].operationalTimes.publishedArrival.dateLocal | date : 'hh:mm a' }},
                                        {{ vm.checkCurrentFlight[0].flightStatuses[0].operationalTimes.publishedArrival.dateLocal | date : 'MMM d' }}</span>
                </div>

                <form class="form-horizontal">
                    <div class="row btn-col min-btn">
                        <div class="buttons_create_modal col-xs-12">
                            <div class="button_left col-xs-6 col-xxs-12">
                                <!--<input type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self" value="NEXT">-->
                                <input type="submit" ng-click="vm.$$ix.add()" class="modal_btn modal_add_button" value="Add">
                                <!--<a href="" type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self">NEXT</a>-->
                            </div>

                            <div class="button_right col-xs-6 col-xxs-12">
                                <input type="button" ng-click="vm.$$ix.cancel()" class="modal_btn modal_cancel_button" value="Cancel">
                                <!--<a href="/" class="own_btn back_button" target="_self">BACK</a>-->
                            </div>
                        </div>
                    </div>
                </form>

                <div class="modal-info">
                    <span>*If this isn't your flight you might check back again later, it's because this flight has multiple connections.</span>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="errorModal.html">
            <div class="modal-body">
                <div class="modal-title">
                    <span>This flight doesn't exists!</span>
                </div>
                <form class="form-horizontal">
                    <div class="row btn-col min-btn">
                        <div class="buttons_error_modal col-xs-12">
                            <!--<div class="button_left col-xs-6 col-xxs-12">-->
                                <!--<input type="button" ng-click="vm.$$ix.cancel()" class="modal_btn_error modal_error_cancel_button" value="Cancel">-->
                                <!--&lt;!&ndash;<a href="/" class="own_btn back_button" target="_self">BACK</a>&ndash;&gt;-->
                            <!--</div>-->

                            <div class="button_right col-xs-12">
                                <!--<input type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self" value="NEXT">-->
                                <input type="submit" ng-click="vm.$$ix.again()" class="modal_btn_error modal_error_again_button" value="Try Again">
                                <!--<a href="" type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self">NEXT</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </script>

        <script type="text/ng-template" id="duplicateModal.html">
            <div class="modal-body">
                <div class="modal-title">
                    <span>Oops! You already added this flight!</span>
                    <!--<span ng-repeat="item in flight">{{ item }}</span>-->
                </div>
                <form class="form-horizontal">
                    <div class="row btn-col min-btn">
                        <div class="buttons_duplicate_modal col-xs-12">
                            <!--<div class="button_left col-xs-6 col-xxs-12">-->
                            <!--<input type="button" ng-click="vm.$$ix.cancel()" class="modal_btn_error modal_error_cancel_button" value="Cancel">-->
                            <!--&lt;!&ndash;<a href="/" class="own_btn back_button" target="_self">BACK</a>&ndash;&gt;-->
                            <!--</div>-->

                            <div class="button_left col-xs-12">
                                <input type="button" ng-click="vm.$$ix.cancel()" class="modal_btn modal_cancel_button" value="Cancel">
                                <!--<a href="/" class="own_btn back_button" target="_self">BACK</a>-->
                            </div>

                            <div class="button_right col-xs-12">
                                <!--<input type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self" value="NEXT">-->
                                <input type="submit" ng-click="vm.$$ix.detail()" class="modal_btn_error modal_error_again_button" value="Go to flight">
                                <!--<a href="" type="submit" ng-click="vm.$$ix.next()" class="own_btn next_button" target="_self">NEXT</a>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </script>
    </md-content>
</div>