<div id="flight_overview_content" ng-cloak>

    <!--<div class="busyloader" cg-busy="{promise:vm.getData,message:'Loading Your Data',templateUrl:'loading.html',minDuration:1000}"></div>-->

    <!--<script type="text/ng-template" id="loading.html">-->
        <!--<div class="modal-body">-->
            <!--<div class="modal-table">-->
                <!--<div class="modal-cell">-->
                    <!--<img src="../../img/loader/preloader.gif" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</script>-->

    <md-toolbar>
        <div class="flight_overview_intro">
            <div class="col-xs-10">
                <span class="flight_overview_intro_title">
                    {{vm.$$ui.title}}
                </span>
            </div>

            <div class="col-xs-2">
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <a href="flights/create"><i class="material-icons">add</i></a>
                </button>
            </div>
        </div>
    </md-toolbar>

    <md-content>
        <div ng-repeat="flight in vm.allCheckedFlights | orderBy:'-allFlightDetails.flightStatus.departureDate.dateLocal'" class="flights_overview col-xs-12">

            <!-- SCHEDULED START -->
            <div ng-if="flight.allFlightDetails.flightStatus.status === 'S'" class="flight_scheduled">
                <a  href="flights/detail/{{ flight.databaseFlight.database.airline }}/{{ flight.databaseFlight.database.number }}" target="_self">
                    <div class="flight_item col-xs-12">
                        <div class="fi_place col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-12 col-500">
                            <span>{{ flight.departureAirport.name }} ({{ flight.departureAirport.iata }})</span>
                            <span>
                                <i class="material-icons">flight_takeoff</i>
                                <p>{{ flight.arrivalAirport.name }} ({{ flight.arrivalAirport.iata }})</p>
                            </span>
                        </div>

                        <div class="fi_dep col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Status</span>
                            <span>
                                <p>Scheduled</p>
                            </span>
                        </div>

                        <div class="fi_ter col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Departure</span>
                            <span>
                                <p>{{ flight.allFlightDetails.flightStatus.operationalTimes.publishedDeparture.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.publishedDeparture.dateLocal | date : 'MMM d' }}</p>
                            </span>
                        </div>

                        <div class="fi_gate col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">

                            <span class="fi_first" ng-if="flight.allFlightDetails.flightStatus.delays">
                                Delayed
                            </span>

                            <span class="fi_first" ng-if="!flight.allFlightDetails.flightStatus.delays">
                                Estimated
                            </span>

                            <span>
                                <p class="flight_delay" ng-if="flight.allFlightDetails.flightStatus.delays">
                                    {{ flight.allFlightDetails.flightStatus.delays.departureGateDelayMinutes }} min
                                </p>

                                <p ng-if="!flight.allFlightDetails.flightStatus.delays &&
                                            flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateDeparture">
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateDeparture.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateDeparture.dateLocal | date : 'MMM d' }}
                                </p>

                                <p ng-if="!flight.allFlightDetails.flightStatus.delays &&
                                            !flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateDeparture
                                            && flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateDeparture">
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateDeparture.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateDeparture.dateLocal | date : 'MMM d' }}
                                </p>

                                <p ng-if="!flight.allFlightDetails.flightStatus.delays &&
                                            !flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateDeparture
                                            && !flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateDeparture">
                                    n/a
                                </p>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- SCHEDULED START -->

            <!-- IN THE AIR START -->
            <div ng-if="flight.allFlightDetails.flightStatus.status === 'A'">
                <a  href="flights/detail/{{ flight.databaseFlight.database.airline }}/{{ flight.databaseFlight.database.number }}" target="_self">
                    <div class="flight_item col-xs-12">
                        <!--<h3>{{ flight.id }}</h3>-->
                        <div class="fi_place col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-12 col-500">
                            <span>{{ flight.departureAirport.name }} ({{ flight.departureAirport.iata }})</span>
                            <span>
                                <i class="material-icons">filter_drama</i>
                                <p>{{ flight.arrivalAirport.name }} ({{ flight.arrivalAirport.iata }})</p>
                            </span>
                        </div>

                        <div class="fi_dep col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Status</span>
                            <span>
                                <p>In the air</p>
                            </span>
                        </div>

                        <div class="fi_ter col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Arrival</span>
                            <span>
                                <p>
                                    {{ flight.allFlightDetails.flightStatus.arrivalDate.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.arrivalDate.dateLocal | date : 'MMM d' }}</p>
                            </span>
                        </div>

                        <div class="fi_gate col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Estimated</span>
                            <span>
                                <p ng-if="flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateArrival">
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateArrival.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateArrival.dateLocal | date : 'MMM d' }}</p>

                                <p ng-if="!flight.allFlightDetails.flightStatus.operationalTimes.estimatedGateArrival &&
                                            flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateArrival">
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateArrival.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.scheduledGateArrival.dateLocal | date : 'MMM d' }}</p>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- IN THE AIR END -->

            <!-- LANDED START -->
            <div ng-if="flight.allFlightDetails.flightStatus.status === 'L'" class="flight_landed">
                <a  href="flights/detail/{{ flight.databaseFlight.database.airline }}/{{ flight.databaseFlight.database.number }}" target="_self">
                    <div class="flight_item col-xs-12">
                        <!--<h3>{{ flight.id }}</h3>-->
                        <div class="fi_place col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xxs-12 col-500">
                            <span>{{ flight.departureAirport.name }} ({{ flight.departureAirport.iata }})</span>
                            <span>
                                <i class="material-icons">flight_land</i>
                                <p>{{ flight.arrivalAirport.name }} ({{ flight.arrivalAirport.iata }})</p>
                            </span>
                        </div>

                        <div class="fi_dep col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Status</span>
                            <span>
                                <p>Landed</p>
                            </span>
                        </div>

                        <div class="fi_ter col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first">Arrived</span>
                            <span>
                                <p>
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.actualGateArrival.dateLocal | date : 'hh:mm a' }},
                                    {{ flight.allFlightDetails.flightStatus.operationalTimes.actualGateArrival.dateLocal | date : 'MMM d' }}
                                </p>
                            </span>
                        </div>

                        <div class="fi_gate col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-12 col-500">
                            <span class="fi_first"></span>
                            <span class="fi_remove">
                                <!--<button ng-click="vm.$$ix.delete(flight.databaseFlightId)"></button>-->
                                <a href="" ng-click="vm.$$ix.delete(flight.databaseFlightId)">remove flight</a>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- LANDED END -->
        </div>

        <div class="flight_removed col-xs-12">
            <span>
                Arrived flights can be removed when the data isn't available anymore!
            </span>
        </div>

    </md-content>
</div>