/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #E50050;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #222;
    text-decoration: underline; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #c8c8c8;
  line-height: 28px;
  overflow-x: hidden !important;
  margin: auto !important;
  overflow: scroll;
  height: 100%;
  background: #30B996;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#30B996, #0073AE);
  /* Standard syntax (must be last) */
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* PRE LOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important; }

@media only screen and (max-width: 500px) {
  .col-xxs {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-left: 0; } }

/**
 * Basic typography style for copy text
 */
body {
  color: #222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1200px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header .navbar-header .navbar-brand {
  padding-top: 10px; }
  header .navbar-header .navbar-brand img {
    max-height: 30px;
    height: 50px;
    -webkit-backface-visibility: hidden; }

header .navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 14px; }

header .navbar-inverse .navbar-nav li a:hover {
  color: #30B996; }

header .navbar-inverse .navbar-nav li a.active {
  color: #30B996;
  border-bottom: 2px solid #30B996; }

#main_content {
  padding-top: 64px; }

header .sticky-navigation {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.32); }

header .navbar-toggle {
  border: none; }

header .navbar-inverse .navbar-toggle:hover,
header .navbar-inverse .navbar-toggle:focus {
  background-color: transparent; }

.nav-is-visible .icon-bar {
  background-color: #ffffff !important; }

.icon-bar-2 {
  margin-left: 6px;
  width: 16px !important; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px !important; }

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #30B996;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#30B996, #0073AE);
  /* Standard syntax (must be last) */
  overflow-y: hidden;
  transition: 0.3s; }

#myNav .container_mynav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 24px;
  padding-top: 16px;
  width: 100%; }

.overlay-data {
  opacity: 0;
  visibility: hidden; }

.overlay-open {
  opacity: 1;
  visibility: visible; }

.overlay-content {
  position: relative;
  top: 25%;
  width: auto;
  text-align: center;
  margin-top: 30px;
  float: right; }

.overlay-content .active {
  border: 1px solid white; }

.overlay-content a {
  padding: 2px 24px 6px 24px;
  margin: 4px 0;
  text-decoration: none;
  font-size: 36px;
  color: white;
  font-weight: 300;
  display: block;
  transition: 0.3s;
  text-align: right; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.closebtn {
  color: white;
  float: right;
  font-size: 60px !important; }

.closebutton_div {
  display: inline-block;
  width: 100%;
  padding-right: 24px; }

#mobile_button_close {
  padding: 0; }
  #mobile_button_close img {
    width: 50px; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }
  .overlay a {
    font-size: 20px; }
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px; } }

@media screen and (min-width: 321px) and (max-width: 500px) {
  .overlay-content {
    top: 14%; } }

@media screen and (max-width: 320px) {
  .overlay-content {
    top: 14%; } }

.container_navguest {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }
  .container_navguest nav {
    background-color: transparent;
    border: none; }
    .container_navguest nav .navbar-header .navbar-brand {
      padding-top: 10px; }
      .container_navguest nav .navbar-header .navbar-brand img {
        max-height: 30px;
        height: 50px;
        -webkit-backface-visibility: hidden; }
    .container_navguest nav #app-navbar-collapse ul li {
      margin-left: 4px; }
      .container_navguest nav #app-navbar-collapse ul li a {
        color: white;
        font-size: 1.8rem;
        font-weight: 300;
        padding: 8px 15px;
        border: 1px solid transparent; }
      .container_navguest nav #app-navbar-collapse ul li a:hover {
        background-color: #ffffff;
        color: #30B996;
        border: 1px solid #ffffff; }
      .container_navguest nav #app-navbar-collapse ul li a.active {
        color: #ffffff;
        border: 1px solid #ffffff; }
      .container_navguest nav #app-navbar-collapse ul li a.active:hover {
        color: #30B996;
        border: 1px solid #ffffff; }

.container_login {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  padding-top: 32px; }
  .container_login .login_block h2 {
    color: #ffffff;
    font-weight: 300; }
  .container_login .login_block .login_form form .or_divider p {
    text-align: center;
    font-weight: 300;
    font-size: 1.6rem;
    color: #ffffff; }
  .container_login .login_block .login_form form .form-group label {
    color: #ffffff;
    font-weight: 300; }
  .container_login .login_block .login_form form .form-group .input-group {
    padding-left: 15px;
    padding-right: 15px; }
    .container_login .login_block .login_form form .form-group .input-group span {
      min-width: 52px;
      padding: 10px 12px;
      border: none;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.64); }
      .container_login .login_block .login_form form .form-group .input-group span i {
        color: #ffffff; }
    .container_login .login_block .login_form form .form-group .input-group input {
      height: 48px;
      border: none;
      border-radius: 0;
      outline: none; }
  .container_login .login_block .login_form form .form-group .btn-login {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #30B996;
    width: 100%;
    min-height: 48px;
    max-height: 48px;
    border: none;
    border-radius: 0; }
  .container_login .login_block .login_form form .form-group .btn-login:hover {
    background-color: #33CC99; }
  .container_login .login_block .login_form form .form-group .btn-social {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    background-color: #336699;
    width: 100%;
    min-height: 48px;
    max-height: 48px;
    border: none;
    border-radius: 0; }
  .container_login .login_block .login_form form .form-group .btn-social:hover {
    background-color: #3a74ae; }
  .container_login .login_block .login_form form .form-group .login_extra {
    padding-left: 0; }
    .container_login .login_block .login_form form .form-group .login_extra .col-xs-6 {
      padding-left: 0;
      padding-right: 0; }
    .container_login .login_block .login_form form .form-group .login_extra li {
      display: inline-block;
      list-style: none; }
    .container_login .login_block .login_form form .form-group .login_extra .btn-link {
      margin-left: 8px;
      float: right;
      color: #33CC99; }

@media only screen and (min-width: 768px) {
  .container_navguest {
    padding-top: 64px; } }

@media only screen and (max-width: 767px) {
  .container_navguest {
    padding-top: 64px; }
    .container_navguest nav .navbar-header .navbar-brand {
      width: 100%; }
      .container_navguest nav .navbar-header .navbar-brand img {
        max-height: 50px;
        height: 50px;
        margin: 0 auto; }
    .container_navguest nav #app-navbar-collapse {
      padding-top: 64px; }
      .container_navguest nav #app-navbar-collapse ul {
        margin: 0 auto;
        max-width: 164px;
        width: 100%;
        padding: 0; }
        .container_navguest nav #app-navbar-collapse ul li {
          display: inline-block;
          margin-left: 0; }
          .container_navguest nav #app-navbar-collapse ul li a:hover {
            background-color: #ffffff;
            color: #30B996;
            border: 1px solid #ffffff; }
          .container_navguest nav #app-navbar-collapse ul li a.active {
            color: #ffffff;
            border: 1px solid #ffffff; }
          .container_navguest nav #app-navbar-collapse ul li a.active:hover {
            color: #30B996;
            border: 1px solid #ffffff; } }

@media only screen and (max-width: 500px) {
  .container_navguest {
    padding-top: 24px; }
    .container_navguest nav .navbar-header .navbar-brand {
      width: 100%; }
      .container_navguest nav .navbar-header .navbar-brand img {
        max-height: 36px;
        height: 36px;
        margin: 0 auto; }
    .container_navguest nav #app-navbar-collapse {
      padding-top: 24px; }
      .container_navguest nav #app-navbar-collapse ul {
        margin: 0 auto;
        max-width: 164px;
        width: 100%;
        padding: 0; }
        .container_navguest nav #app-navbar-collapse ul li {
          display: inline-block;
          margin-left: 0; }
          .container_navguest nav #app-navbar-collapse ul li a:hover {
            background-color: #ffffff;
            color: #30B996;
            border: 1px solid #ffffff; }
          .container_navguest nav #app-navbar-collapse ul li a.active {
            color: #ffffff;
            border: 1px solid #ffffff; }
          .container_navguest nav #app-navbar-collapse ul li a.active:hover {
            color: #30B996;
            border: 1px solid #ffffff; } }
