// -----------------------------------------------------------------------------
// This file contains styles that are specific to the login page.
// -----------------------------------------------------------------------------
@import "../themes/default";

.container_navguest {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  nav {
    background-color: transparent;
    border: none;

    .navbar-header {

      .navbar-brand {
        padding-top: 10px;

        img {
          max-height: 30px;
          height: 50px;
          -webkit-backface-visibility: hidden;
        }
      }
    }

    #app-navbar-collapse {

      ul {

        li {
          margin-left: 4px;

          a {
            color: white;
            font-size: 1.8rem;
            font-weight: 300;
            padding: 8px 15px;
            border: 1px solid transparent;
          }

          a:hover {
            background-color: $white;
            color: $main_green;
            border: 1px solid $white;
          }

          a.active {
            color: $white;
            border: 1px solid $white;
          }

          a.active:hover {
            color: $main_green;
            border: 1px solid $white;
          }
        }
      }
    }
  }
}

.container_login {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  padding-top: 32px;

  .login_block {

    h2 {
      color: $white;
      font-weight: 300;
    }

    .login_form {

      form {

        .or_divider {
          p {
            text-align: center;
            font-weight: 300;
            font-size: 1.6rem;
            color: $white;
          }
        }

        .form-group {

          label {
            color: $white;
            font-weight: 300;
          }

          .input-group {
            padding-left: 15px;
            padding-right: 15px;

            span {
              min-width: 52px;
              padding: 10px 12px;
              border: none;
              border-radius: 0;
              background-color: $black_opacity;

              i {
                color: $white;
              }
            }

            input {
              height: 48px;
              border: none;
              border-radius: 0;
              outline: none;
            }
          }

          .btn-login {
            font-size: 2rem;
            font-weight: 300;
            color: $white;
            background-color: $main_green;
            width: 100%;
            min-height: 48px;
            max-height: 48px;
            border: none;
            border-radius: 0;
          }

          .btn-login:hover {
            background-color: $accent_green;
          }

          .btn-social {
            font-size: 2rem;
            font-weight: 300;
            color: $white;
            background-color: $facebook;
            width: 100%;
            min-height: 48px;
            max-height: 48px;
            border: none;
            border-radius: 0;
          }

          .btn-social:hover {
            background-color: $facebook_hover;
          }

          .login_extra {
            padding-left: 0;

            .col-xs-6 {
              padding-left: 0;
              padding-right: 0;
            }

            li {
              display: inline-block;
              list-style: none;
            }

            .btn-link {
              margin-left: 8px;
              float: right;
              color: $accent_green;
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) {
  .container_navguest {
    padding-top: 64px;
  }
}

@media only screen and (max-width: 767px) {
  .container_navguest {
    padding-top: 64px;

    nav {
      .navbar-header {
        .navbar-brand {
          width: 100%;

          img {
            max-height: 50px;
            height: 50px;
            margin: 0 auto;
          }
        }
      }

      #app-navbar-collapse {
        padding-top: 64px;

        ul {
          margin: 0 auto;
          max-width: 164px;
          width: 100%;
          padding: 0;

          li {
            display: inline-block;
            margin-left: 0;

            a {
            }

            a:hover {
              background-color: $white;
              color: $main_green;
              border: 1px solid $white;
            }

            a.active {
              color: $white;
              border: 1px solid $white;
            }

            a.active:hover {
              color: $main_green;
              border: 1px solid $white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container_navguest {
    padding-top: 24px;

    nav {
      .navbar-header {
        .navbar-brand {
          width: 100%;

          img {
            max-height: 36px;
            height: 36px;
            margin: 0 auto;
          }
        }
      }

      #app-navbar-collapse {
        padding-top: 24px;

        ul {
          margin: 0 auto;
          max-width: 164px;
          width: 100%;
          padding: 0;

          li {
            display: inline-block;
            margin-left: 0;

            a {
            }

            a:hover {
              background-color: $white;
              color: $main_green;
              border: 1px solid $white;
            }

            a.active {
              color: $white;
              border: 1px solid $white;
            }

            a.active:hover {
              color: $main_green;
              border: 1px solid $white;
            }
          }
        }
      }
    }
  }
}