// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@import "../themes/default";


// CREATE AND BACK BUTTONS ON FLIGHTS/CREATE PAGE
.buttons_create {
  margin-top: 64px;
}

.own_btn {
  padding: 16px 32px;
  border: 1px solid transparent;
  color: $white;
  font-size: 1.6rem;
}

.own_btn:hover,
.own_btn:active,
.own_btn:visited,
.own_btn:focus {
  text-decoration: none;
  color: $white;
}

.own_btn:focus {
  outline: none;
}

.back_button {
  background-color: transparent;
  border: 1px solid $main_green;
  color: $main_green;
}

.back_button:hover {
  background-color: $accent_green;
  border: 1px solid $accent_green;
}

.next_button {
  border: 1px solid $main_green;
  background-color: $main_green;
}

.next_button:hover {
  border: 1px solid $accent_green;
  background-color: $accent_green;
}

@media (max-width: 500px) {
  .buttons_create {
    .button_left {

    }
  }
}




// ADD AND CANCEL BUTTONS ON MODAL ON FLIGHTS/CREATE PAGE ON CONFIRM
.buttons_create_modal {
  //margin-top: 24px;

  .button_left {
    text-align: right;
  }

  .button_center {
    text-align: center;
  }
}

.modal_btn {
  padding: 8px 16px;
  border: 1px solid transparent;
  color: $white;
  font-size: 1.6rem;
  min-width: 84px;
}

.modal_btn:hover,
.modal_btn:active,
.modal_btn:visited,
.modal_btn:focus {
  text-decoration: none;
  color: $white;
}

.modal_btn:focus {
  outline: none;
}

.modal_cancel_button {
  background-color: transparent;
  border: 1px solid $button_red;
  color: $button_red;
}

.modal_cancel_button:hover,
.modal_cancel_button:active {
  background-color: $button_red;
  border: 1px solid $button_red;
}

.modal_add_button {
  border: 1px solid $main_green;
  background-color: $main_green;
}

.modal_add_button:hover {
  border: 1px solid $accent_green;
  background-color: $accent_green;
}

@media (max-width: 500px) {
  .buttons_create_modal {
    .button_left,
    .button_right {
      text-align: center;
      margin-bottom: 16px;

      .modal_btn {
        min-width: 120px;
      }
    }
  }
}



// CANCEL AND TRY AGAIN BUTTONS ON MODAL ON FLIGHTS/CREATE PAGE ON ERROR
.buttons_error_modal {
  margin-top: 32px;

  .button_right {
    text-align: center;
  }
}

.modal_btn_error {
  padding: 8px 16px;
  border: 1px solid transparent;
  color: $white;
  font-size: 1.6rem;
  min-width: 116px;
}

.modal_btn_error:hover,
.modal_btn_error:active,
.modal_btn_error:visited,
.modal_btn_error:focus {
  text-decoration: none;
  color: $white;
}

.modal_btn_error:focus {
  outline: none;
}

.modal_error_cancel_button {
  background-color: transparent;
  border: 1px solid $button_red;
  color: $button_red;
}

.modal_error_cancel_button:hover,
.modal_error_cancel_button:active {
  background-color: $button_red;
  border: 1px solid $button_red;
}

.modal_error_again_button {
  border: 1px solid $main_green;
  background-color: $main_green;
}

.modal_error_again_button:hover {
  border: 1px solid $accent_green;
  background-color: $accent_green;
}



// DETAIL AND CANCEL BUTTONS ON MODAL ON FLIGHTS/CREATE PAGE ON DUPLICATE
.buttons_duplicate_modal {
  margin-top: 32px;

  .button_left,
  .button_right {
    text-align: center;
    margin-bottom: 16px;

    .modal_btn {
      min-width: 120px;
    }
  }
}
