// -----------------------------------------------------------------------------
// This file contains all styles related to the modal component.
// -----------------------------------------------------------------------------
@import "../themes/default";

.modal {
  background-color: transparent;
  box-shadow: none;
  width: 64%;
  position: absolute;
  margin: 0 auto;
  top: 128px;

  .modal-dialog {
    margin: 0;
    width: 100%;

    .modal-content {
      border-radius: 0;
      border: none;
      background-color: rgba(255,255,255,0.9);
      padding: 24px 16px;

      .modal-body {
        padding: 0;

        .modal-title {
          text-align: center;
          color: $main_green;

          span {
            font-size: 2rem;
          }
        }

        .modal-check {
          padding: 32px 0;
          text-align: center;
          color: #757575;

          .date {
            display: block;
          }

          span {
            font-size: 1.6rem;
          }

          p {
            margin-bottom: 0;
            padding: 8px 0;

            i {
              -webkit-transform: rotate(180deg);
            }
          }
        }

        .modal-info {
          margin-top: 16px;
          padding: 0 24px;
          text-align: center;
          color: #757575;
        }
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .modal {
    top: 96px;
  }
}

@media only screen and (max-width: 992px) {
  .modal {
    top: 64px;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    top: 128px;
    width: 80%;
    height: 420px;
    max-height: 420px;
  }
}

@media only screen and (max-width: 500px) {
  .modal {
    width: 90%;
    height: 420px;
    max-height: 420px;
  }
}


.angucomplete-dropdown {
  position: absolute;
  overflow-y: auto;
  max-height: 200px;
  z-index: 9999;
  background-color: $white;
  width: calc(100%);
  padding: 16px;
  margin-top: 24px;
  margin-left: -16px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  .angucomplete-row {
    font-size: 1.6rem;
    padding: 8px 0;
    border-bottom: 1px solid $accent_green;
  }

  .angucomplete-row:hover {
    cursor: pointer;
    color: $accent_green;
  }

  .highlight {
    color: $accent_green;
  }
}